.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0.5vh;
  padding: 1vh;
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  line-height: 100%;
  font-size: 1.2rem;
}
.paginator .selected {
  background: black;
  color: white;
}
.paginator img {
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  margin: 0.5vh;
}
