@import 'paginator.css';
@import 'todo_list.css';
@import 'task_item.css';
@import 'header.css';
@import 'archive_item.css';
@import 'archive.css';
@import 'task_table.css';
@import 'modal.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
}
tr {
  cursor: pointer;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-container-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
