.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 1vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
}
.task-item img {
  height: 4vh;
  width: 4vh;
  margin: 1vh;
}
.buttons-container {
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controll-button {
  cursor: pointer;
}
h3 {
  width: calc(80% - 4vh);
  padding: 2vh;
  font-size: 2.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.task-item.delited {
  background-color: rgba(255, 0, 0, 0.5);
}
.task-item.complited {
  background-color: rgba(0, 128, 0, 0.5);
}
